{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "298",
          "x-ratelimit-reset": "25",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-07-27T20:09:36"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/messages/?limit=1&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t4_13lecoj\", \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"BotParty\", \"likes\": null, \"replies\": \"\", \"author_fullname\": null, \"id\": \"13lecoj\", \"subject\": \"<USERNAME> is\", \"associated_awarding_id\": null, \"score\": 0, \"author\": null, \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/BotParty\", \"new\": true, \"type\": \"unknown\", \"body\": \"Gey\", \"dest\": \"<USERNAME>\", \"was_comment\": false, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EGey\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t4_13lecoj\", \"created\": 1627463367.0, \"created_utc\": 1627434567.0, \"context\": \"\", \"distinguished\": \"moderator\"}}], \"before\": null}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "50.0",
          "x-ratelimit-reset": "24",
          "x-ratelimit-used": "550"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/message/messages/?limit=1&raw_json=1"
      },
      "recorded_at": "2021-07-27T20:09:36"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/block?raw_json=1",
        "body": {
          "string": "[[\"api_type\", \"json\"], [\"id\", \"t4_13lecoj\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "48.0",
          "x-ratelimit-reset": "24",
          "x-ratelimit-used": "552"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/block?raw_json=1"
      },
      "recorded_at": "2021-07-27T20:09:36"
    },
[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/unblock_subreddit?raw_json=1",
        "body": {
          "string": "[[\"api_type\", \"json\"], [\"id\", \"t4_13lecoj\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "46.0",
          "x-ratelimit-reset": "24",
          "x-ratelimit-used": "554"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/unblock_subreddit?raw_json=1"
      },
      "recorded_at": "2021-07-27T20:09:36"
    },
[...]
