{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "000000000076qh8c0q.2.1594077237781.Z0FBQUFBQmZBN0ExOGhBYlZPX0U1WnJOZVBvMlNrcEg5TEFfMTc0OGktN0U1TGphLWNia0ZkX0MzSzNZWEtxallxTGwxTlV2N2xfcHVLYXZITzZaYzlSTTc2ZDVkOVZfN0NqZFQ4bzlFOWxZYmpWOFd3UjNzUmZUNGozdGVOVWQyRVFHaFVIUmx5YTY"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-06T18:13:59"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/comments/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_hm9agp\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fx5ev96\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"GlitchedGamer14\", \"num_comments\": 1, \"can_mod_post\": false, \"created_utc\": 1594077146.0, \"send_replies\": true, \"parent_id\": \"t3_hm9agp\", \"score\": 1, \"author_fullname\": \"t2_j4cvc\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2skqi\", \"body\": \"Hello, /u/imaLilT-pot. Thanks for contributing! Unfortunately your submission has been removed:\\n\\n* HistoryPorn is for historical photographs, not modern photos of historical things.\\n\\n\\n\\nFor information regarding this and similar issues please see the [FAQ](http://www.reddit.com/r/HistoryPorn/wiki/faq). If you feel this was done in error, or would like better clarification or need further assistance, please don't hesitate to [message the moderators.](https://www.reddit.com/message/compose?to=/r/HistoryPorn\\u0026subject=Question regarding the removal of this submission by /u/imaLilT-pot\\u0026message=I have a question regarding the removal of [this submission.](https://www.reddit.com/r/HistoryPorn/comments/hm9agp/-/\\\\))\", \"link_title\": \"~1,800 years ago, cement sealing a Roman child\\u2019s sarcophagus leaked inside and covered the baby\\u2019s face. This is a plaster cast was taken from that cement mould sometime between its discovery in 1878 and 1920 [576 x 866]\", \"author_flair_css_class\": null, \"name\": \"t1_fx5ev96\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHello, \\u003Ca href=\\\"/u/imaLilT-pot\\\"\\u003E/u/imaLilT-pot\\u003C/a\\u003E. Thanks for contributing! Unfortunately your submission has been removed:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EHistoryPorn is for historical photographs, not modern photos of historical things.\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\n\\u003Cp\\u003EFor information regarding this and similar issues please see the \\u003Ca href=\\\"http://www.reddit.com/r/HistoryPorn/wiki/faq\\\"\\u003EFAQ\\u003C/a\\u003E. If you feel this was done in error, or would like better clarification or need further assistance, please don\\u0026#39;t hesitate to \\u003Ca href=\\\"https://www.reddit.com/message/compose?to=/r/HistoryPorn\\u0026amp;subject=Question%20regarding%20the%20removal%20of%20this%20submission%20by%20/u/imaLilT-pot\\u0026amp;message=I%20have%20a%20question%20regarding%20the%20removal%20of%20%5Bthis%20submission.%5D(https://www.reddit.com/r/HistoryPorn/comments/hm9agp/-/)\\\"\\u003Emessage the moderators.\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": \"moderator\", \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"top_awarded_type\": null, \"subreddit_name_prefixed\": \"r/HistoryPorn\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/HistoryPorn/comments/hm9agp/1800_years_ago_cement_sealing_a_roman_childs/fx5ev96/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/HistoryPorn/comments/hm9agp/1800_years_ago_cement_sealing_a_roman_childs/\", \"report_reasons\": null, \"link_author\": \"imaLilT-pot\", \"subreddit\": \"HistoryPorn\", \"author_flair_text\": null, \"link_url\": \"https://i.redd.it/p4ufozdb59951.jpg\", \"created\": 1594105946.0, \"collapsed\": false, \"awarders\": [], \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_hm5lf3\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fx5euzv\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": [...]
