{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "299",
          "x-ratelimit-reset": "1",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-11-05T12:40:04"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/3hahrw/?limit=2048&sort=old&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"funny\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Ba Dum Tsss\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/funny\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 78, \"top_awarded_type\": null, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_3hahrw\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.94, \"author_flair_background_color\": null, \"ups\": 29788, \"domain\": \"i.imgur.com\", \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_oh64a\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 29788, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/5e3u8ceMZN0CYelVW2cPTp-R2o_lRGgIrFUCqN-p-pE.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"previous_visits\": [1636062445.0, 1636063577.0, 1636064643.0, 1636065644.0, 1636067281.0, 1636068315.0, 1636069286.0, 1636070400.0, 1636074540.0, 1636132806.0], \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"link\", \"content_categories\": null, \"is_self\": false, \"subreddit_type\": \"public\", \"created\": 1439797480.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"http://i.imgur.com/eoF76hj.gifv\", \"view_count\": null, \"archived\": true, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?format=png8\\u0026s=8fce0e240021fae6057e6e9d0bc6d01e55c8d8be\", \"width\": 718, \"height\": 404}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=108\\u0026crop=smart\\u0026format=png8\\u0026s=0043d5d451641f59d83957debb5c2d5debbffe6a\", \"width\": 108, \"height\": 60}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=216\\u0026crop=smart\\u0026format=png8\\u0026s=8c6193562e873cad671f8be0cc1ded20cf8e4e40\", \"width\": 216, \"height\": 121}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=320\\u0026crop=smart\\u0026format=png8\\u0026s=fdc55cdb3f665ea544d0016c80251f67172c75f2\", \"width\": 320, \"height\": 180}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=640\\u0026crop=smart\\u0026format=png8\\u0026s=b6a454102e2e35ee91634a3970a0b1946d51667b\", \"width\": 640, \"height\": 360}], \"variants\": {\"gif\": {\"source\": {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?s=63556b2af71b62a2c6349aad5b058320301bc5d8\", \"width\": 718, \"height\": 404}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=108\\u0026crop=smart\\u0026s=5d45ebe65c5b794b092185f83bf26d204a8dc3cd\", \"width\": 108, \"height\": 60}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=216\\u0026crop=smart\\u0026s=9792339b06b9446433cd0b96643f3e34344d9eea\", \"width\": 216, \"height\": 121}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=320\\u0026crop=smart\\u0026s=88703ea358f721aa004b9a53ffad705ff75ec297\", \"width\": 320, \"height\": 180}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=640\\u0026crop=smart\\u0026s=05d76587afce21bcab664ce75f8dd28262e19820\", \"width\": 640, \"height\": 360}]}, \"mp4\": {\"source\": {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?format=mp4\\u0026s=33e82bc7191fc664e87b3024b8b7668c2e2d9912\", \"width\": 718, \"height\": 404}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=108\\u0026format=mp4\\u0026s=12a22c0f2b96a8839e3dafe719386935d125bea5\", \"width\": 108, \"height\": 60}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=216\\u0026format=mp4\\u0026s=b8ca79735d3686d3fb19a2eb85b497a309693977\", \"width\": 216, \"height\": 121}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=320\\u0026format=mp4\\u0026s=5235abf63a2395c43fc5696fa2d37766ea81deaf\", \"width\": 320, \"height\": 180}, {\"url\": \"https://external-preview.redd.it/RBchVMlvRgZugwJNnFY_T4dcrfKSf1boU2a7sCsqoYE.gif?width=640\\u0026format=mp4\\u0026s=418110d4a11d29ef741cac5d463bf552385902b4\", \"width\": 640, \"height\": 360}]}}, \"id\": \"TWpgQy5a3ucVCvWlwGPDbYeZk6FAbbk-f2WKWBi7pVY\"}], \"reddit_video_preview\": {\"bitrate_kbps\": 800, \"fallback_url\": \"https://v.redd.it/vxahemsz24i71/DASH_360.mp4\", \"height\": 360, \"width\": 639, \"scrubber_media_url\": \"https://v.redd.it/vxahemsz24i71/DASH_96.mp4\", \"dash_url\": \"https://v.redd.it/vxahemsz24i71/DASHPlaylist.mpd\", \"duration\": 3, \"hls_url\": \"https://v.redd.it/vxahemsz24i71/HLSPlaylist.m3u8\", \"is_gif\": true, \"transcoding_status\": \"completed\"}, \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"mod_note\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qh33\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"num_reports\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"3hahrw\", \"is_robot_indexable\": true, \"num_duplicates\": 9, \"report_reasons\": null, \"author\": \"your_local_librarian\", \"discussion_type\": null, \"num_comments\": 529, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/funny/comments/3hahrw/ba_dum_tsss/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"http://i.imgur.com/eoF76hj.gifv\", \"subreddit_subscribers\": 37829696, \"created_utc\": 1439797480.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}], \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"funny\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh33\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"funny\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": {\"kind\": \"[...]
