{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-10T19:04:37"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/reports/?only=links&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"What is the point of a sequel to Cinematic Perfection without the original cast?\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 7, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 121, \"top_awarded_type\": null, \"parent_whitelist_status\": \"some_ads\", \"hide_score\": false, \"name\": \"t3_hp00jn\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"ups\": 9, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_4glfk29v\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 9, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/YcSNpg2lDq4OfMDjEfGO0hmRL8GUOZ0e-OkdIn6Qg8w.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"subreddit_type\": \"public\", \"created\": 1594453987.0, \"link_flair_type\": \"text\", \"wls\": 7, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.imgur.com\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"top\", \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.imgur.com/oLmeayb.png\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?auto=webp\\u0026s=dd379534ebb33d8ce3932045424ea98db08b6eb4\", \"width\": 1272, \"height\": 1108}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=4ad0f63bc391327f4247c340373d0c1afbaa58be\", \"width\": 108, \"height\": 94}, {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=05b6fbbadfc5e4083ccec7fd685eafff77cbfa7c\", \"width\": 216, \"height\": 188}, {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=a09ef28ab5a86e18ad392f53979f4a6d09398ed1\", \"width\": 320, \"height\": 278}, {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=39525191aad3d3b3e7ce9fb4e93f47709226ac04\", \"width\": 640, \"height\": 557}, {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=7c05e29c1e2dfbb64d93b138af5b35eea7d8fb31\", \"width\": 960, \"height\": 836}, {\"url\": \"https://external-preview.redd.it/mQegFxUF8Ls3R-H-fwy8hM9f8fxdjDjWsz1Z579z97U.png?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=61b5f2b4b5590090904ea17bb080837d76deea3c\", \"width\": 1080, \"height\": 940}], \"variants\": {}, \"id\": \"HjLK_d1C9K14-qNpWeGFwBGkX5_QkcycNHJMDODaLqg\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": true, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"mod_note\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2zmfe\", \"mod_reason_by\": null, \"num_reports\": 1, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"hp00jn\", \"is_robot_indexable\": true, \"report_reasons\": [\"This attribute is deprecated. Please use mod_reports and user_reports instead.\"], \"author\": \"Rekkondite\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": false, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/hp00jn/what_is_the_point_of_a_sequel_to_cinematic/\", \"whitelist_status\": \"some_ads\", \"stickied\": false, \"url\": \"https://i.imgur.com/oLmeayb.png\", \"subreddit_subscribers\": 3796801, \"created_utc\": 1594425187.0, \"num_crossposts\": 0, \"mod_reports\": [[\"Image contains text matching 'insta' regex.\", \"ImageAutomoderator\"]], \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"<TEST_SUBREDDIT>\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Anyway i started blasting\", \"link_flair_richtext\": [{\"e\": \"text\", \"t\": \"this seemed better in my head\"}], \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"hidden\": false, \"pwls\": 7, \"link_flair_css_[...]
