{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modnote modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers adsconversions read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself flair history\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "297"
          ],
          "x-ratelimit-reset": [
            "120"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2022-10-23T14:28:01"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_id4adsw&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_7ss0q\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": \"<USERNAME>\", \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"<USERNAME>\", \"author_flair_template_id\": null, \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"id4adsw\", \"banned_at_utc\": 1661723752, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": false, \"author\": \"<USERNAME>\", \"can_mod_post\": true, \"gildings\": {}, \"send_replies\": true, \"parent_id\": \"t3_vgyx3f\", \"score\": 1, \"author_fullname\": \"t2_o77bz\", \"created_utc\": 1655767597.0, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"ignore_reports\": false, \"body\": \"This is a top level comment that is not edited.\", \"awarders\": [], \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"author_patreon_flair\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"is_submitter\": true, \"collapsed_reason\": null, \"removal_reason\": null, \"spam\": false, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"can_gild\": false, \"removed\": true, \"unrepliable_reason\": null, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<USERNAME>/comments/vgyx3f/test_post/id4adsw/\", \"subreddit_type\": \"restricted\", \"locked\": false, \"name\": \"t1_id4adsw\", \"created\": 1655767597.0, \"author_flair_text\": null, \"treatment_tags\": [], \"rte_mode\": \"markdown\", \"link_id\": \"t3_vgyx3f\", \"subreddit_name_prefixed\": \"r/<USERNAME>\", \"controversiality\": 0, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is a top level comment that is not edited.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"mod_note\": null, \"distinguished\": null}}], \"before\": null}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "119"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_id4adsw&raw_json=1"
      },
      "recorded_at": "2022-10-23T14:28:01"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/mod/notes?raw_json=1",
        "body": {
          "string": "[[\"api_type\", \"json\"], [\"label\", \"HELPFUL_USER\"], [\"note\", \"test note\"], [\"reddit_id\", \"t1_id4adsw\"], [\"subreddit\", \"<USERNAME>\"], [\"user\", \"<USERNAME>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"created\": {\"subreddit_id\": \"t5_7ss0q\", \"operator_id\": \"t2_o77bz\", \"mod_action_data\": {\"action\": null, \"reddit_id\": \"t1_id4adsw\", \"details\": null, \"description\": null}, \"subreddit\": \"<USERNAME>\", \"user\": \"<USERNAME>\", \"operator\": \"<USERNAME>\", \"id\": \"ModNote_fd0f836c-e61b-43e9-abdb-4fbf9b59759e\", \"user_note_data\": {\"note\": \"test note\", \"reddit_id\": \"t1_id4adsw\", \"label\": \"HELPFUL_USER\"}, \"user_id\": \"t2_o77bz\", \"created_at\": 1666553281, \"type\": \"NOTE\"}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "596.0"
          ],
          "x-ratelimit-reset": [
            "119"
          ],
          "x-ratelimit-used": [
            "4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/mod/notes?raw_json=1"
      },
      "recorded_at": "2022-10-23T14:28:01"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/mod/notes?subreddit=<USERNAME>&user=<USERNAME>&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"mod_notes\": [{\"subreddit_id\": \"t5_7ss0q\", \"operator_id\": \"t2_o77bz\", \"mod_action_data\": {\"action\": null, \"reddit_id\": \"t1_id4adsw\", \"details\": null, \"description\": null}, \"subreddit\": \"<USERNAME>\", \"user\": \"<USERNAME>\", \"operator\": \"<USERNAME>\", \"id\": \"ModNote_fd0f836c-e61b-43e9-abdb-4fbf9b59759e\", \"user_note_data\": {\"note\": \"test note\", \"reddit_id\": \"t1_id4adsw\", \"label\": \"HELPFUL_USER\"}, \"user_id\": \"t2_o77bz\", \"created_at\": 1666553281, \"cursor\": \"MTY2NjU1MzI4MTI1MA==\", \"type\": \"NOTE\"}, {\"subreddit_id\": \"t5_7ss0q\", \"operator_id\": \"t2_o77bz\", \"mod_action_data\": {\"action\": null, \"reddit_id\": \"t1_id4adsw\", \"details\": null, \"description\": null}, \"subreddit\": \"<USERNAME>\", \"user\": \"<USERNAME>\", \"operator\": \"<USERNAME>\", \"id\": \"ModNote_ebd55903-aed0-45bf-9cab-d59ada354faa\", \"user_note_data\": {\"note\": \"test note\", \"reddit_id\": \"t1_id4adsw\", \"label\": \"HELPFUL_USER\"}, \"user_id\": \"t2_o77b[...]
