{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "298"
          ],
          "x-ratelimit-reset": [
            "517"
          ],
          "x-ratelimit-used": [
            "2"
          ],
          "x-reddit-loid": [
            "0000000000o4biyk6z.2.1654377683049.Z0FBQUFBQmltOHpUTmFxaXp3by1OV0lMcENNNjlxNzd1VmRQeWx6dGpaaE1FWU1fSTAtWHpIX0xyLU1UUW5LY2FrS21ZanJwME9McGF4MUJlVGkyWmlhMDdmV2lyUWsxd1g3SEZZVThib3htVzN3M1F4Y2V3M3pHZjBhN05WMEhZVHZORFhMRmFoNk0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2022-06-04T16:21:23"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/reddit.com/wiki/search?raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"wikipage\", \"data\": {\"content_md\": \"#Reddit Search\\r\\n\\r\\nTL;DR\\r\\nWelcome to the Reddit Search homepage where you can learn about search features, relevant help center articles, and tricks to get the most out of Reddit search! \\r\\n\\r\\n# The Basics\\r\\n## What types of search are on Reddit?\\r\\n\\r\\nOn Reddit you can search four main content types:  \\r\\n\\r\\n* Posts  \\r\\n    * Look at these for image, video, text, and more types of content from users\\r\\n* Comments  \\r\\n    * Look at these for any discussio[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/reddit.com/wiki/discussions/search?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": \"\", \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"u_aqqqqqqqqqqq\", \"selftext\": \"\", \"author_fullname\": \"t2_6f96r2xr\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"reddit search\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"u/aqqqqqqqqqqq\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_gyr1zf\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"user\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1591586894.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"reddit.com\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"qa\", \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://www.reddit.com/r/reddit.com/wiki/search\", \"view_count\": null, \"archived\": true, \"no_follow\": true, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2nbcyn\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"gyr1zf\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"aqqqqqqqqqqq\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": null, \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/u_aqqqqqqqqqqq/comments/gyr1zf/reddit_search/\", \"parent_whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/reddit.com/wiki/search\", \"subreddit_subscribers\": 0, \"created_utc\": 1591586894.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}], \"before\": null}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "298"
          ],
          "x-ratelimit-reset": [
            "517"
          ],
          "x-ratelimit-used": [
            "2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/reddit.com/wiki/discussions/search?limit=100&raw_json=1"
      },
      "recorded_at": "2022-06-04T16:21:23"
    }
  ]
}
