{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-reddit-loid": [
            "000000000onwa26jwg.2.1700957162500.Z0FBQUFBQmxZb3ZxOGhELTNkZEI4RGZKNUpZdUo5ZXdLeE1RbEJ0RUJHTHVJVV9qelF5bWFZZmNKbFB1RE42SFBCQzJrWnRpUW9uVTUtY1c3ekhSM0l5Y3NrT2tmbmp6Y01xRVh2dUJiQUtacTJROWJXZDRTRFZYcGozMVN6b0hrTjZ2cktWNnV4OU0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2023-11-26T00:06:02"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://reddit.com/r/space/s/?raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Location": [
            "https://www.reddit.com/r/space/s/?raw_json=1"
          ],
          "Retry-After": [
            "0"
          ]
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://reddit.com/r/space/s/?raw_json=1"
      },
      "recorded_at": "2023-11-26T00:06:02"
    }
  ]
}
