{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "298",
          "x-ratelimit-reset": "213",
          "x-ratelimit-used": "2"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-07-28T16:06:32"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/mine/moderator/?limit=1024&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t5_104daw\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlease read \\u003Ca href=\\\"https://www.reddit.com/r/pics/wiki/index\\\"\\u003Ethe rules\\u003C/a\\u003E before submitting, and know that by posting you are agreeing to follow those rules.\\nLimit: 100 characters\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"pics\", \"header_img\": \"https://b.thumbs.redditmedia.com/1zT3FeN8pCAFIooNVuyuZ0ObU0x1ro4wPfArGHl3KjM.png\", \"title\": \"Reddit Pics\", \"allow_galleries\": false, \"icon_size\": [256, 256], \"primary_color\": \"#ffffff\", \"active_user_count\": null, \"icon_img\": \"https://b.thumbs.redditmedia.com/VZX_KQLnI1DPhlEZ07bIcLzwR1Win808RIt7zm49VIQ.png\", \"display_name_prefixed\": \"r/pics\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 27700505, \"user_flair_richtext\": [], \"videostream_links_count\": 0, \"name\": \"t5_2qh0u\", \"quarantine\": false, \"hide_ads\": false, \"prediction_leaderboard_entry_type\": \"IN_FEED\", \"emojis_enabled\": false, \"advertiser_category\": \"Lifestyles\", \"public_description\": \"A place for pictures and photographs.\", \"comment_score_hide_mins\": 60, \"allow_predictions\": false, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"\", \"original_content_tag_enabled\": true, \"community_reviewed\": true, \"submit_text\": \"Please read [the rules](https://www.reddit.com/r/pics/wiki/index) before submitting, and know that by posting you are agreeing to follow those rules.\\nLimit: 100 characters\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"https://www.reddit.com/r/pics/wiki/index\\\"\\u003ERules\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Col\\u003E\\n\\u003Cli\\u003E\\u003Cp\\u003ENo screenshots or pics where the only focus is a screen. \\u003Ca href=\\\"https://www.reddit.com/r/pics/wiki/index#wiki_rule_1_-_no_screenshots\\\"\\u003Emore\\u0026gt;\\u0026gt;\\u003C/a\\u003E\\u003C/p\\u003E\\u003C/li\\u003E\\n\\u003Cli\\u003E\\u003Cp\\u0[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/mine/moderator/?limit=1024&after=t5_104daw&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t5_2gpsht\", \"dist\": 100, \"modhash\": null, \"geo_filter\":[...]
