{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-04T18:01:41"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/message/unread/?mark=false&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"id\": \"fwxy2lz\", \"subject\": \"comment reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazJoekp\", \"num_comments\": 67, \"parent_id\": \"t1_fwxxs5d\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"comment_reply\", \"body\": \"Test reply 27\", \"link_title\": \"test\", \"dest\": \"<USERNAME>\", \"was_comment\": true, \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ETest reply 27\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"name\": \"t1_fwxy2lz\", \"created\": 1593928344.0, \"created_utc\": 1593899544.0, \"context\": \"/r/Lil_SpazJoekp/comments/gx8r8z/test/fwxy2lz/?context=3\", \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"Lil_SpazJoekp\", \"likes\": null, \"replies\": \"\", \"id\": \"fwxy2il\", \"subject\": \"comment reply\", \"associated_awarding_id\": null, \"score\": 1, \"author\": \"Lil_SpazJoekp\", \"num_comments\": 67, \"parent_id\": \"t1_fwxxs5d\", \"subreddit_name_prefixed\": \"r/Lil_SpazJoekp\", \"new\": true, \"type\": \"comment_reply\", \"body\": \"Test reply 26\", \"link_title\": \"test\", \"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_message/?raw_json=1",
        "body": {
          "string": "[[\"api_type\", \"json\"], [\"id\", \"t1_fwxy2lz,t1_fwxy2il,t1_fwxy2fy,t1_fwxy2ce,t1_fwxy29l,t1_fwxy26k,t1_fwxy245,t1_fwxy224,t1_fwxy1zc,t1_fwxy1w8,t1_fwxy1u9,t1_fwxy1r7,t1_fwxy1pi,t1_fwxy1mi,t1_fwxy1j6,t1_fwxy1fv,t1_fwxy1dz,t1_fwxy1d2,t1_fwxy1c8,t1_fwxy1ay,t1_fwxy19w,t1_fwxy18k,t1_fwxy17y,t1_fwxy179,t1_fwxy16d\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "592.0",
          "x-ratelimit-reset": "501",
          "x-ratelimit-used": "8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/read_message/?raw_json=1"
      },
      "recorded_at": "2020-07-04T18:01:41"
    },
[...]
