{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "000000000078hm5jt5.2.1594440303431.Z0FBQUFBQmZDVHB2SzZjOFFPbkFKTndCdEFjT2NCM0ZFTG5hbXBOUHN2WnM0NXFTVngtY0pkOEk1OXRVNl9pM3dCNEVZSXJMT1lDenl3UW90OF9qcFNnNE52czEwMEUydklVYjh4Nl9rOWwtZndCaE1iME1GNGhnTWxNTGg4MWo4alNsSG1GaS1oQnI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-10T23:05:04"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/pics/about/sticky/?num=1&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "Location": "https://oauth.reddit.com/r/pics/comments/fjn0j9/important_psa_no_you_did_not_win_a_gift_card/.json",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://oauth.reddit.com/r/pics/about/sticky/?num=1&raw_json=1"
      },
      "recorded_at": "2020-07-10T23:05:04"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/fjn0j9/?limit=2048&sort=confidence&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"pics\", \"selftext\": \"Hey, folks!\\n\\nAs some of you may already be aware, certain users are receiving private messages \\u2013 ostensibly from moderators of large subreddits \\u2013 in which they are told that they've won a gift card, a cash prize, or a robotic ferret. (I may have made that last one up.) Anyway, we wanted to take a moment to inform everyone of the following:\\n\\n**If you receive a private message telling you that you've won something, it is a scam.**\\n\\nThere are a number of ways that illicit[...]
