{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "x-reddit-loid": [
            "000000000onttl8xep.2.1700954786989.Z0FBQUFBQmxZb0tpeTJlUkprdFE1Yl9aQ2lKSGEwcDNtZG1rWWJWM3FvU0dzbjJOUVJlTE9BaW11cDBaZklxWjNXX1pXYVdoNW1EN3FoaHRlVFdCQ2JjWlpzUFJQOHkyd0JrWTkzWmlURUZGSmNfajJueTdfXzJxT3poeDVtYzY0eXQ0TkxWeTBCREs"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2023-11-25T23:26:28"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_kari74d\", \"dist\": 100, \"modhash\": \"\", \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"What is your best guess how ww3 would start?\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"link_author\": \"Mrpug031\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"karibwb\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"author\": \"Overall-Low905\", \"num_comments\": 1391, \"can_mod_post\": false, \"send_replies\": true, \"parent_id\": \"t3_183o1ji\", \"score\": 1, \"author_fullname\": \"t2_heptov0h6\", \"over_18\": true, \"report_reasons\": null, \"removal_reason\": null, \"approved_by\": null, \"controversiality\": 0, \"body\": \"Another Israeli false-flag operation, of course. they use the armaments that the US gave them and US personell to wage wars against brown people. and they aren't going to stop.\", \"edited\": false, \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"is_submitter\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EAnother Israeli false-flag operation, of course. they use the armaments that the US gave them and US personell to wage wars against brown people. and they aren\\u0026#39;t going to stop.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"can_gild\": false, \"link_id\": \"t3_183o1ji\", \"unrepliable_reason\": null, \"author_flair_text_color\": null, \"score_hidden\": true, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/183o1ji/what_is_your_best_guess_how_ww3_would_start/karibwb/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/183o1ji/what_is_your_best_guess_how_ww3_would_start/\", \"name\": \"t1_karibwb\", \"author_flair_template_id\": null, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"treatment_tags\": [], \"created\": 1700954775.0, \"created_utc\": 1700954775.0, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"link_url\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/183o1ji/what_is_your_best_guess_how_ww3_would_start/\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Men of Reddit, do you prefer a woman shaved down there? Why or why not?\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subred[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/comments/?before=t1_kari7eg&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 97, \"modhash\": \"\", \"geo_filter\": \"\", [...]
