{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-06T18:21:11"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/multi/mine/?raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "[{\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"Updated display name\", \"name\": \"a_b_a_b_a_b_a_b_a_b\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003Ecopied from \\u003Ca href=\\\"/u/kjoneslol\\\"\\u003Eu/kjoneslol\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"num_subscribers\": 953, \"copied_from\": \"/user/kjoneslol/m/sfwpornnetwork/\", \"icon_url\": \"https://www.redditstatic.com/custom_feeds/custom_feed_default_5.png\", \"subreddits\": [{\"name\": \"pokemongo\"}, {\"name\": \"pokemongodev\"}], \"created_utc\": 1374610372.0, \"visibility\": \"private\", \"created\": 1374639172.0, \"over_18\": false, \"path\": \"/user/lil_spazbot/m/a_b_a_b_a_b_a_b_a_b/\", \"owner\": \"<USERNAME>\", \"key_color\": null, \"is_subscriber\": false, \"owner_id\": \"t2_3ebyblla\", \"description_md\": \"copied from u/kjoneslol\", \"is_favorited\": false}}, {\"kind\": \"LabeledMulti\", \"data\": {\"can_edit\": true, \"display_name\": \"test\", \"name\": \"test\", \"description_html\": \"\", \"num_subscribers\": 0, \"copied_from\": null, \"icon_url\": \"https://www.redditstatic.com/custom_feeds/custom_feed_default_3.png\", \"subreddits\": [{\"name\": \"redditdev\"}], \"created_utc\": 1594077523.0, \"visibility\": \"private\", \"created\": 1594106323.0, \"over_18\": false, \"path\": \"/user/lil_spazbot/m/test/\", \"owner\": \"<USERNAME>\", \"key_color\": null, \"is_subscriber\": false, \"owner_id\": \"t2_3ebyblla\", \"description_md\": \"\", \"is_favorited\": false}}]",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "588.0",
          "x-ratelimit-reset": "530",
          "x-ratelimit-used": "12"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/multi/mine/?raw_json=1"
      },
      "recorded_at": "2020-07-06T18:21:11"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/lil_spazbot/m/a_b_a_b_a_b_a_b_a_b/new?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"pokemongo\", \"selftext\": \"\", \"author_fullname\": \"t2_4tznvvnb\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"I hate life\", \"link_flair_richtext\": [{\"e\": \"text\", \"t\": \"Photo\"}], \"subreddit_name_prefixed\": \"r/pokemongo\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"media\", \"downs\": 0, \"top_awarded_type\": null, \"hide_score\": true, \"name\": \"t3_hmixxp\", \"quarantine\": false, \"link_flair_text_color\": \"light\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 3, \"total_awards_received\": 0, \"media_embed\": {}, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Photo\", \"can_mod_post\": false, \"score\": 3, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1594106275.0, \"link_flair_type\": \"richtext\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.redd.it/ni1y6zr8lb951.jpg\", \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"24f13e46-565e-11e6-8804-0e33e6929a6d\", \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_34jka\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"#7ed321\", \"id\": \"hmixxp\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"RSKILLA18\", \"discussion_type\": null, \"num_comments\": 4, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/pokemongo/comments/hmixxp/i_hate_life/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/ni1y6zr8lb951.jpg\", \"subreddit_subscribers\": 2546005, \"created_utc\": 1594077475.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"pokemongo\", \"selftext\": \"\", \"author_fullname\": \"t2_721bs21l\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Insanity, 5th Ho-oh beaten in a raid (2nd caught) AND ITS SHINY!!!\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/pokemongo\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"top_awarded_type\": null, [...]
