{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "299",
          "x-ratelimit-reset": "323",
          "x-ratelimit-used": "1"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-08-04T16:34:38"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1",
        "body": {
          "string": "[[\"api_type\", \"json\"], [\"is_newlink\", \"true\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"current\": {\"flair_css_class\": \"\", \"flair_template_id\": null, \"flair_text\": null, \"flair_position\": \"right\"}, \"choices\": [{\"flair_css_class\": \"\", \"flair_template_id\": \"6fc213da-cae7-11ea-9274-0e2407099e45\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"test\"}, {\"flair_css_class\": \"\", \"flair_template_id\": \"aa80b3be-f56b-11eb-8c89-1a66d9a33ef0\", \"flair_text_editable\": true, \"flair_position\": \"right\", \"flair_text\": \"another\"}]}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Clacks-Overhead": "GNU Terry Pratchett",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "345.0",
          "x-ratelimit-reset": "322",
          "x-ratelimit-used": "255"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/flairselector/?raw_json=1"
      },
      "recorded_at": "2021-08-04T16:34:38"
    }
  ]
}
