{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "253"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-11-06T18:25:48"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_hjlztg5\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"If you could, what would you do to become famous and rich?\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"AskReddit\", \"link_author\": \"nyxflare\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"hjlzwfl\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"author\": \"Too_Old_1981\", \"num_comments\": 11, \"can_mod_post\": false, \"send_replies\": true, \"parent_id\": \"t3_qobev9\", \"score\": 1, \"author_fullname\": \"t2_f09g3ft0\", \"over_18\": false, \"report_reasons\": null, \"removal_reason\": null, \"approved_by\": null, \"controversiality\": 0, \"body\": \"I would like to be rich but I would not like to be famous.\", \"edited\": false, \"top_awarded_type\": null, \"downs\": 0, \"author_flair_css_class\": null, \"is_submitter\": false, \"collapsed\": false, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI would like to be rich but I would not like to be famous.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"link_id\": \"t3_qobev9\", \"unrepliable_reason\": null, \"author_flair_text_color\": null, \"score_hidden\": true, \"permalink\": \"/r/AskReddit/comments/qobev9/if_you_could_what_would_you_do_to_become_famous/hjlzwfl/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/AskReddit/comments/qobev9/if_you_could_what_would_you_do_to_become_famous/\", \"name\": \"t1_hjlzwfl\", \"author_flair_template_id\": null, \"subreddit_name_prefixed\": \"r/AskReddit\", \"author_flair_text\": null, \"treatment_tags\": [], \"created\": 1636241137.0, \"created_utc\": 1636241137.0, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"link_url\": \"https://www.reddit.com/r/AskReddit/comments/qobev9/if_you_could_what_would_you_do_to_become_famous/\"}}, {\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_2qh1i\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Weebs of reddit, what made you a weeb?\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"AskReddit\", \"link_author\"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_hjlzwfl&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 3, \"modhash\": null, \"geo_filter\": \"\", \"childr[...]
