{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "00000000009vbyaw8z.2.1610930624737.Z0FBQUFBQmdCTm5BcG9Kc0VUdXZDYUM4SkQ4a1BvS2tpdGlIWXdTaWdSMUU5alFFRXc0WWN2bEQ4WVBJUllTc0kyT1NuRnVwT3RqTWJRb0YxeVQtNFZzM2NkakNZQnZzWm1ySUYzUWYyT0tzOUtaZTZaMEs3aF9WNXVmVk10d0JxeTNvTzdWQXd2NkE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-01-17T18:43:47"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_kziu1l\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gjo46b5\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": true, \"author\": \"Incitatussum\", \"num_comments\": 12, \"edited\": false, \"can_mod_post\": false, \"created_utc\": 1610930615.0, \"send_replies\": true, \"parent_id\": \"t1_gjo3oac\", \"score\": 1, \"author_fullname\": \"t2_7xziytmy\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qh1i\", \"body\": \"Do you mean you lack privacy?\", \"link_title\": \"What is something you do in private that you would never want the outside world to know because you fear it might be frowned upon or would be difficult or awkward to explain?\", \"author_flair_css_class\": null, \"name\": \"t1_gjo46b5\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": true, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EDo you mean you lack privacy?\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"top_awarded_type\": null, \"author_flair_text_color\": null, \"score_hidden\": true, \"permalink\": \"/r/AskReddit/comments/kziu1l/what_is_something_you_do_in_private_that_you/gjo46b5/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/AskReddit/comments/kziu1l/what_is_something_you_do_in_private_that_you/\", \"report_reasons\": null, \"link_author\": \"Incitatussum\", \"subreddit\": \"AskReddit\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/AskReddit/comments/kziu1l/what_is_something_you_do_in_private_that_you/\", \"created\": 1610959415.0, \"collapsed\": false, \"subreddit_name_prefixed\": \"r/AskReddit\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 1}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_kzap5n\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gjo46b3\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follo[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46b5&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 3, \"children\": [{\"kind\": \"t1\", \"data\": {\"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46ch&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46cz&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46do&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 2, \"children\": [{\"kind\": \"t1\", \"data\": {\"[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46ef&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 0, \"children\": [], \"after\": null, \"before\": null}}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/askreddit/comments/?before=t1_gjo46ef&limit=100&raw_json=1"
      },
      "recorded_at": "2021-01-17T18:43:47"
    },
[...]
