{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-10T18:52:16"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/edited/?only=comments&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.imgur.com/O9l1HAM.jpg\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"ignore_reports\": false, \"ups\": 1, \"link_title\": \"I married my Best Friend\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_houhsa\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fxkzwfr\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"removed\": false, \"awarders\": [], \"no_follow\": true, \"author\": \"SauteedRedOnions\", \"num_comments\": 3065, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t1_fxkznbi\", \"score\": 1, \"author_fullname\": \"t2_68usb1b9\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qh0u\", \"collapsed\": false, \"body\": \"Yeah it's almost like all the people who stuck around this long and feel overly strong about this happen to be the racists frothing at the mouth over the sight of an interracial couple.\", \"edited\": 1594424844.0, \"link_author\": \"lavoid12\", \"author_flair_css_class\": null, \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EYeah it\\u0026#39;s almost like all the people who stuck around this long and feel overly strong about this happen to be the racists frothing at the mouth over the sight of an interracial couple.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"subreddit_type\": \"public\", \"can_gild\": true, \"top_awarded_type\": null, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/houhsa/i_married_my_best_friend/fxkzwfr/\", \"num_reports\": 0, \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/houhsa/i_married_my_best_friend/\", \"name\": \"t1_fxkzwfr\", \"created\": 1594452468.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"treatment_tags\": [], \"spam\": false, \"created_utc\": 1594423668.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.redd.it/5cobv09cyt951.png\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"ignore_reports\": false, \"ups\": 4, \"link_title\": \"Powerful obituary in today\\u2019s Arizona Republic newspaper\", \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_ho2pam\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], [...]
