{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-01-17T18:54:47"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/edited/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.redd.it/eprqttsvnsb61.jpg\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": 1610931268.0, \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_title\": \"Agreed!\", \"link_id\": \"t3_kyw4js\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gjm7jsv\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"removed\": false, \"no_follow\": false, \"author\": \"InspectorPraline\", \"num_comments\": 1580, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t1_gjluat3\", \"score\": 1, \"author_fullname\": \"t2_53t8e7u0\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_2qm21\", \"collapsed\": false, \"body\": \".\", \"awarders\": [], \"link_author\": \"Poininjas\", \"author_flair_css_class\": null, \"author_flair_background_color\": null, \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"subreddit_type\": \"public\", \"can_gild\": true, \"top_awarded_type\": null, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/PoliticalHumor/comments/kyw4js/agreed/gjm7jsv/\", \"num_reports\": 0, \"link_permalink\": \"https://www.reddit.com/r/PoliticalHumor/comments/kyw4js/agreed/\", \"name\": \"t1_gjm7jsv\", \"created\": 1610931745.0, \"subreddit\": \"PoliticalHumor\", \"author_flair_text\": null, \"treatment_tags\": [], \"spam\": false, \"created_utc\": 1610902945.0, \"subreddit_name_prefixed\": \"r/PoliticalHumor\", \"controversiality\": 0, \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": true, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.redd.it/eprqttsvnsb61.jpg\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": 1610931266.0, \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_title\": \"Agreed!\", \"link_id\": \"t3_kyw4js\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"gjm[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/edited/?before=t1_gjm7jsv&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 2, \"children\": [{\"kind\": \"t1\", \"data\": {\"li[...]
