{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-04T19:46:19"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/subreddits/default/?limit=1024&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 47, \"children\": [{\"kind\": \"t5\", \"data\": {\"user_flair_background_color\": null, \"submit_text_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPlease familiarize yourself with the \\u003Ca href=\\\"/r/gadgets\\\"\\u003E/r/gadgets\\u003C/a\\u003E rules \\u003Cstrong\\u003Ebefore submitting\\u003C/strong\\u003E, you can find the rules \\u003Ca href=\\\"https://www.reddit.com/r/gadgets/wiki/rules\\\"\\u003Eon this page\\u003C/a\\u003E and in the sidebar..\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EWe use the reddit FAQ guidelines for spam when removing spam posts. Additionally, as a spam-prevention measure, users with accounts that have less than 5 combined karma and/or are less than 14 days old, may be subject to having their posts removed.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EPlease ask questions and advice in the \\u003Ca href=\\\"http://www.reddit.com/r/gadgets/about/sticky?num-1\\\"\\u003EQuestions and Advice SuperThread\\u003C/a\\u003E, rather than as a separate submission.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"restrict_posting\": true, \"user_is_banned\": false, \"free_form_reports\": true, \"wiki_enabled\": true, \"user_is_muted\": false, \"user_can_flair_in_sr\": null, \"display_name\": \"gadgets\", \"header_img\": \"https://b.thumbs.redditmedia.com/1Zt9fQJyK-7-lP2R2E7p0e7_axZ8Rlhh3lxMKO_3QIg.png\", \"title\": \"gadgets\", \"allow_galleries\": true, \"icon_size\": [256, 256], \"primary_color\": \"#ef6351\", \"active_user_count\": null, \"icon_img\": \"https://b.thumbs.redditmedia.com/E6-lBIXAELKdtcb4HaXUEuSSIKrsF9tOUgjnb5UYFrU.png\", \"display_name_prefixed\": \"r/gadgets\", \"accounts_active\": null, \"public_traffic\": false, \"subscribers\": 16992667, \"user_flair_richtext\": [], \"name\": \"t5_2qgzt\", \"quarantine\": false, \"hide_ads\": false, \"emojis_enabled\": false, \"advertiser_category\": \"Technology\", \"public_description\": \"From Vintage gadgetry to the latest and greatest, /r/Gadgets is all about discussing, reviewing, and enjoying gadgets.\", \"comment_score_hide_mins\": 30, \"user_has_favorited\": false, \"user_flair_template_id\": null, \"community_icon\": \"\", \"banner_background_image\": \"https://styles.redditmedia.com/t5_2qgzt/styles/bannerBackgroundImage_q87n7q1yizv41.jpg?width=4000\\u0026s=daaa3d73814ada71f9a5c3f7693f5a53cb67106c\", \"original_content_tag_enabled\": false, \"submit_text\": \"Please familiarize yourself with the /r/gadgets rules **before submitting**, you can find the rules [on this page](https://www.reddit.com/r/gadgets/wiki/rules) and in the sidebar..\\n\\nWe use the reddit FAQ guidelines for spam when removing spam posts. Additionally, as a spam-prevention measure, users with accounts that have less than 5 combined karma and/or are less than 14 days old, may be subject to having their posts removed.\\n\\nPlease ask questions and advice in the [Questions and Advice SuperThread](http://www.reddit.com/r/gadgets/about/sticky?num-1), rather than as a separate submission.\", \"description_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E\\u003Ca href=\\\"http://goo.gl/vlYYhs\\\"\\u003E\\u003C/a\\u003E\\n\\u003Ca href=\\\"http://goo.gl/utayY5\\\"\\u003E\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cblockquote\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003Egadget\\u003C/strong\\u003E \\u003Cem\\u003E(noun)\\u003C/em\\u003E - a small mechanical / electrical device or tool, especially an ingenious or novel one.\\u003C/p\\u003E\\n\\u003C/blockquote\\u003E\\n\\[...]
