{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-10T19:05:21"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/about/spam/?only=comments&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"awarders\": [], \"subreddit_id\": \"t5_2qh0u\", \"approved_at_utc\": null, \"ignore_reports\": false, \"link_title\": \"I married my Best Friend\", \"mod_reason_by\": null, \"banned_by\": \"AutoModerator\", \"link_url\": \"https://i.imgur.com/O9l1HAM.jpg\", \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"link_id\": \"t3_houhsa\", \"link_author\": \"lavoid12\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"fxl3myl\", \"banned_at_utc\": 1594425914, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"removed\": false, \"no_follow\": true, \"spam\": false, \"num_comments\": 3130, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t3_houhsa\", \"score\": 1, \"author_fullname\": \"t2_78ey4p60\", \"over_18\": false, \"removal_reason\": null, \"approved_by\": null, \"mod_note\": null, \"controversiality\": 0, \"collapsed\": false, \"body\": \"Oh look a soon to be single mom on welfare.\", \"edited\": false, \"author_flair_css_class\": null, \"name\": \"t1_fxl3myl\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"collapsed_reason\": null, \"gildings\": {}, \"user_reports_dismissed\": [[\"It's promoting hate based on identity or vulnerability\", 1]], \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": true, \"top_awarded_type\": null, \"approved\": false, \"author_flair_text_color\": null, \"all_awardings\": [], \"score_hidden\": false, \"permalink\": \"/r/<TEST_SUBREDDIT>/comments/houhsa/i_married_my_best_friend/fxl3myl/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/<TEST_SUBREDDIT>/comments/houhsa/i_married_my_best_friend/\", \"report_reasons\": [], \"created\": 1594454663.0, \"subreddit\": \"<TEST_SUBREDDIT>\", \"author_flair_text\": null, \"treatment_tags\": [], \"author\": \"Gullible_Citron2333\", \"created_utc\": 1594425863.0, \"subreddit_name_prefixed\": \"r/<TEST_SUBREDDIT>\", \"distinguished\": null, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EOh look a soon to be single mom on welfare.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"num_reports\": -1, \"ups\": 1, \"author_flair_template_id\": null}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.imgur.com/O9l1HAM.jpg\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"ignore_reports\": false, \"ups\": 1, \"link_title\": \"I married my Best Friend\", \"mod_reason_by\": null, \"banned_by\": \"AutoModerator\", \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_houhsa\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not s[...]
