{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-10T18:55:56"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/all/message/moderator/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": null, \"first_message_name\": null, \"subreddit\": \"thisismylifenow\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": null, \"children\": [{\"kind\": \"t4\", \"data\": {\"first_message\": 1568668436, \"first_message_name\": \"t4_pxy0b8\", \"subreddit\": \"thisismylifenow\", \"likes\": null, \"replies\": \"\", \"id\": \"pxy1f0\", \"subject\": \"re: AutoModerator notification\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"howardkinsd\", \"num_comments\": null, \"parent_id\": \"t4_pxy0b8\", \"subreddit_name_prefixed\": \"r/thisismylifenow\", \"new\": true, \"type\": \"unknown\", \"body\": \"Removed\", \"dest\": \"AutoModerator\", \"body_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ERemoved\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"was_comment\": false, \"name\": \"t4_pxy1f0\", \"created\": 1594450078.0, \"created_utc\": 1594421278.0, \"context\": \"\", \"distinguished\": \"moderator\"}}], \"after\": null, \"before\": null}}, \"id\": \"pxy0b8\", \"subject\": \"AutoModerator notification\", \"associated_awarding_id\": null, \"score\": 0, \"author\": \"AutoModerator\", \"num_comments\": null, \"parent_id\": null, \"subreddit_name_prefixed\": \"r/thisismylifenow\", \"new\": false, \"type\": \"unknown\", \"body\": \"https://www.reddit.com/r/thisismylifenow/comments/hor4ha/inchthick_bologna_and_anxiety/\\n\\nThis submission by /u/redditperson19 has received 3+ reports. Please investigate.\", \"dest\": \"#thisismy[...]
