{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2021-01-17T18:55:45"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/spam/?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.redd.it/zkahqzx7jwb61.jpg\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": \"AutoModerator\", \"ups\": 1, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_title\": \"My brother seems to want it.\", \"link_id\": \"t3_kz78ov\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"ban_note\": \"remove not spam\", \"saved\": false, \"id\": \"gjo5krw\", \"banned_at_utc\": 1610931323, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"removed\": false, \"no_follow\": true, \"author\": \"RobinsUSMC\", \"num_comments\": 83, \"can_mod_post\": true, \"send_replies\": true, \"parent_id\": \"t3_kz78ov\", \"score\": 1, \"author_fullname\": \"t2_4g3cqhpt\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_37xo2\", \"collapsed\": false, \"body\": \"Spongebobs house wearing a Hawaiian Shirt.\\nHow Ironic.\", \"awarders\": [], \"author_flair_css_class\": null, \"author_flair_background_color\": null, \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"collapsed_reason\": null, \"gildings\": {}, \"link_author\": \"Solar-Cola-MkZ\", \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"subreddit_type\": \"public\", \"can_gild\": true, \"top_awarded_type\": null, \"approved\": false, \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/RoastMe/comments/kz78ov/my_brother_seems_to_want_it/gjo5krw/\", \"num_reports\": 0, \"link_permalink\": \"https://www.reddit.com/r/RoastMe/comments/kz78ov/my_brother_seems_to_want_it/\", \"name\": \"t1_gjo5krw\", \"created\": 1610960123.0, \"subreddit\": \"RoastMe\", \"author_flair_text\": null, \"treatment_tags\": [], \"spam\": false, \"created_utc\": 1610931323.0, \"subreddit_name_prefixed\": \"r/RoastMe\", \"controversiality\": 0, \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ESpongebobs house wearing a Hawaiian Shirt.\\nHow Ironic.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"mod_note\": null, \"distinguished\": null}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://i.redd.it/xvm57hswvxb61.png\", \"total_awards_received\": 0, \"approved_at_utc\": null, \"comment_type\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": \"AutoModerator\", \"ups\": 1, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_title\": \"Big Pharma = 0, raw potato = 1!\", \"link_id\": \"t3_kzcdnc\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \[...]
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/mod/about/spam/?before=t1_gjo5krw&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 1, \"children\": [{\"kind\": \"t1\", \"data\": {\"link[...]
