{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-04T18:16:20"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/best?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"redditdev\", \"selftext\": \"I've been searching for a script that hides user accounts and posts that mention certain keywords.\\n\\nDoes something like this already exist? If not would it be difficult to write?\", \"author_fullname\": \"t2_6cw15awa\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"user post and account hiding script\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/redditdev\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_hl3rvy\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.91, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 8, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Other API Wrapper\", \"can_mod_post\": false, \"score\": 8, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"mod_note\": null, \"created\": 1593900092.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.redditdev\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI\\u0026#39;ve been searching for a script that hides user accounts and posts that mention certain keywords.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EDoes something like this already exist? If not would it be difficult to write?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"03dc6ea8-40e9-11e7-8abb-0eb85aed0bce\", \"can_gild\": true, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": true, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2qizd\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"hl3rvy\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"Mastahitcha\", \"discussion_type\": null, \"num_comments\": 5, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/redditdev/comments/hl3rvy/user_post_and_account_hiding_script/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/redditdev/comments/hl3rvy/user_post_and_account_hiding_script/\", \"subreddit_subscribers\": 38931, \"created_utc\": 1593871292.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": 1593903878, \"subreddit\": \"pics\", \"selftext\": \"\", \"author_fullname\": \"t2_41jaebm4\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 1, \"clicked\": false, \"title\": \"Today can be the day\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/pics\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_hl9hgk\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.85, \"ignore_reports\": true, \"ups\": 25091, \"total_awards_received\": 6, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": \"4883d892-6443-11e8-b937-0e4bcaa8957a\", \"is_original_content\": false, \"user_reports\": [[\"This is spam\", 8], [\"This is misinformation\", 5], [\"R3: No personal information, social media, missing persons, doxxing, or witch-hunts\", 4], [\"R7: Civility\", 3], [\"It's rude, vulgar or offensive\", 2], [\"R1: No screenshots. No added text/emojis/scribbles.\", 2], [\"R8: No progress pictures.\", 2], [\"R4: Submission titles must follow all guidelines.\", 2], [\"It's promoting hate based on identity or vulnerability\", 1], [\"R9: No serial reposting, FCoO, or flooding.\", 1], [\"R4: Violates title guidelines.\", 1], [\"Pathetic\", 1], [\"Spam\", 1], [\"R10: Repost\", 1], [\"Untagged politics \", 1], [\"Enough is enough\", 1], [\"please rename sub to /r/politicalpics. You would get better traction that way. \", 1], [\"Is any propaganda ok or only mod approved ones?\", 1]], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 25091, \"approved_by\": \"GuitarFreak027\", \"author_premium\": true, \"thumbnail\": \"https://b.thumbs.redditmedia.com/kCgQTeh4B9ApXsBN9SvaDkKNLmKAy4TKwrTRHa_bedE.jpg\", \"edited\": false, \"author_flair_css_class\": \"k\", \"author_flair_richtext\": [], \"gildings\": {\"gid_1\": 1, \"gid_2\": 1}, \"post_hint\": \"image\", \"content_categories\": [\"photography\"], \"is_self\": false, \"subreddit_type\": \"public\", \"created\": 1593921077.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": true, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": \"confidence\", \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.redd.it/id3ohzujaw851.jpg\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?auto=webp\\u0026s=e75424c2fd45d3824f15fd2c65df680cbf8abca8\", \"width\": 1537, \"height\": 1920}, \"resolutions\": [{\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=4c80bc420ebe18d4d9951829a0e108e806347053\", \"width\": 108, \"height\": 134}, {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=07d09dce6a57b2d2868c7c7d36f5707d4d20ff83\", \"width\": 216, \"height\": 269}, {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=20009af0f55191ba3b494a7f63d88cce4df9da4c\", \"width\": 320, \"height\": 399}, {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=20ad59ada9fa2d38d4b5513780f45657d948c97a\", \"width\": 640, \"height\": 799}, {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=bb75409f3c6017d56175dfd817b093557842e55d\", \"width\": 960, \"height\": 1199}, {\"url\": \"https://preview.redd.it/id3ohzujaw851.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=8e746cb9a321a57724950b18458b6a6b7abb0578\", \"width\": 1080, \"height\": 1349}], \"variants\": {}, \"id\": \"_e82qeHVVFAUvsB2irwuCbt-MrMfL5ITFrctItXVj-s\"}], \"enabled\": true}, \"all_awardings\": [{\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 30, \"id\": \"award_a2506925-fc82-4d6c-ae3b-b7217e09d7f0\", \"penny_donate\": null, \"award_sub_type\": \"PREMIUM\", \"coin_reward\": 0, \"icon_url\": \"https://i.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png\", \"days_of_premium\": 0, \"resized_icons\": [{\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=16\\u0026height=16\\u0026auto=webp\\u0026s=4e475e8c3265ec7148d7f4204f07d33949482f21\", \"width\": 16, \"height\": 16}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=32\\u0026height=32\\u0026auto=webp\\u0026s=42e32a4b9f1e70791716c3be283e89951e212a69\", \"width\": 32, \"height\": 32}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=48\\u0026height=48\\u0026auto=webp\\u0026s=5adb621fede4e8e66b952a379ad038fcc1b8ad13\", \"width\": 48, \"height\": 48}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=64\\u0026height=64\\u0026auto=webp\\u0026s=6161edea19569bbee73ef322a2e5470535ec1787\", \"width\": 64, \"height\": 64}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=128\\u0026height=128\\u0026auto=webp\\u0026s=5d2c75f44f176f430e936204f9a53b8a2957f2fc\", \"width\": 128, \"height\": 128}], \"icon_width\": 2048, \"static_icon_width\": 2048, \"start_date\": null, \"is_enabled\": true, \"description\": \"A golden splash of respect\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 1, \"static_icon_height\": 2048, \"name\": \"Narwhal Salute\", \"resized_static_icons\": [{\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=16\\u0026height=16\\u0026auto=webp\\u0026s=4e475e8c3265ec7148d7f4204f07d33949482f21\", \"width\": 16, \"height\": 16}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=32\\u0026height=32\\u0026auto=webp\\u0026s=42e32a4b9f1e70791716c3be283e89951e212a69\", \"width\": 32, \"height\": 32}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=48\\u0026height=48\\u0026auto=webp\\u0026s=5adb621fede4e8e66b952a379ad038fcc1b8ad13\", \"width\": 48, \"height\": 48}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=64\\u0026height=64\\u0026auto=webp\\u0026s=6161edea19569bbee73ef322a2e5470535ec1787\", \"width\": 64, \"height\": 64}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png?width=128\\u0026height=128\\u0026auto=webp\\u0026s=5d2c75f44f176f430e936204f9a53b8a2957f2fc\", \"width\": 128, \"height\": 128}], \"icon_format\": null, \"icon_height\": 2048, \"penny_price\": null, \"award_type\": \"global\", \"static_icon_url\": \"https://i.redd.it/award_images/t5_22cerq/80j20o397jj41_NarwhalSalute.png\"}, {\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 30, \"id\": \"award_b4ff447e-05a5-42dc-9002-63568807cfe6\", \"penny_donate\": null, \"award_sub_type\": \"PREMIUM\", \"coin_reward\": 0, \"icon_url\": \"https://i.redd.it/award_images/t5_22cerq/rg960rc47jj41_All-SeeingUpvote.png\", \"days_of_premium\": 0, \"resized_icons\": [{\"url\": \"https://prev[...]
