{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-04T21:06:23"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/domain/youtube.com/top?t=all&limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"videos\", \"selftext\": \"\", \"author_fullname\": \"t2_2jiv3l10\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 156, \"clicked\": false, \"title\": \"Youtube is Facilitating the Sexual Exploitation of Children, and it's Being Monetized (2019)\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/videos\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \" ytdrama\", \"downs\": 0, \"thumbnail_height\": 105, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_artkmz\", \"quarantine\": false, \"link_flair_text_color\": \"light\", \"upvote_ratio\": 0.89, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 187128, \"total_awards_received\": 461, \"media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/O13G5A5w5P0?feature=oembed\\u0026enablejsapi=1\\\" frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"height\": 338}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": {\"type\": \"youtube.com\", \"oembed\": {\"provider_url\": \"https://www.youtube.com/\", \"title\": \"Youtube is Facilitating the Sexual Exploitation of Children, and it's Being Monetized (2019)\", \"type\": \"video\", \"html\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/O13G5A5w5P0?feature=oembed\\u0026enablejsapi=1\\\" frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"author_name\": \"MattsWhatItIs\", \"height\": 338, \"width\": 600, \"version\": \"1.0\", \"thumbnail_width\": 480, \"thumbnail_height\": 360, \"thumbnail_url\": \"https://i.ytimg.com/vi/O13G5A5w5P0/hqdefault.jpg\", \"provider_name\": \"YouTube\", \"author_url\": \"https://www.youtube.com/channel/UCgt4huZrLImhbMPEj8jTpJA\"}}, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {\"content\": \"\\u003Ciframe width=\\\"600\\\" height=\\\"338\\\" src=\\\"https://www.youtube.com/embed/O13G5A5w5P0?feature=oembed\\u0026enablejsapi=1\\\" frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen\\u003E\\u003C/iframe\\u003E\", \"width\": 600, \"scrolling\": false, \"media_domain_url\": \"https://www.redditmedia.com/mediaembed/artkmz\", \"height\": 338}, \"link_flair_text\": \"YouTube Drama\", \"can_mod_post\": false, \"score\": 187128, \"approved_by\": null, \"author_premium\": true, \"thumbnail\": \"https://b.thumbs.redditmedia.com/DWEiNqSK4QjWN5mzs82KSZFT4l6CT0ZsQGl1k3GyNHc.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {\"gid_1\": 241, \"gid_2\": 156, \"gid_3\": 63}, \"post_hint\": \"rich:video\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1550495345.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"youtube.com\", \"allow_live_comments\": true, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://www.youtube.com/watch?v=O13G5A5w5P0\", \"view_count\": null, \"archived\": true, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/6Io25ZKHfB9_xgpdIU68LHoJSB5K26KBBhpeWsrxjE0.jpg?auto=webp\\u0026s=f0af501dff603098130591dc4ab1f68df131ea85\", \"width\": 480, \"height\": 360}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/6Io25ZKHfB9_xgpdIU68LHoJSB5K26KBBhpeWsrxjE0.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=ef5e20a250baab65466a9dcfec3e20af46ff3e28\", \"width\": 108, \"height\": 81}, {\"url\": \"https://external-preview.redd.it/6Io25ZKHfB9_xgpdIU68LHoJSB5K26KBBhpeWsrxjE0.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=7f7ccfa0e2e8f7a8f4920872e79161977a99b080\", \"width\": 216, \"height\": 162}, {\"url\": \"https://external-preview.redd.it/6Io25ZKHfB9_xgpdIU68LHoJSB5K26KBBhpeWsrxjE0.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=7007633b4260805d52c3a6ed5d0f2715e65a5cbe\", \"width\": 320, \"height\": 240}], \"variants\": {}, \"id\": \"XGmC8CXdMp_VGy3_xvD__l7bIkWrNfgTrlVLLGB8LaQ\"}], \"enabled\": false}, \"all_awardings\": [{\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 31, \"coin_price\": 1800, \"id\": \"gid_3\", \"penny_donate\": null, \"award_sub_type\": \"GLOBAL\", \"coin_reward\": 0, \"icon_url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_512.png\", \"days_of_premium\": 31, \"resized_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_16.png\", \"width\": 16, \"height\": 16}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_32.png\", \"width\": 32, \"height\": 32}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_48.png\", \"width\": 48, \"height\": 48}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_64.png\", \"width\": 64, \"height\": 64}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_128.png\", \"width\": 128, \"height\": 128}], \"icon_width\": 512, \"static_icon_width\": 512, \"start_date\": null, \"is_enabled\": true, \"description\": \"Gives the author a month of Reddit Premium, which includes %{coin_symbol}700 Coins for that month, and shows a Platinum Award.\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 63, \"static_icon_height\": 512, \"name\": \"Platinum\", \"resized_static_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_16.png\", \"width\": 16, \"height\": 16}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_32.png\", \"width\": 32, \"height\": 32}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_48.png\", \"width\": 48, \"height\": 48}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_64.png\", \"width\": 64, \"height\": 64}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_128.png\", \"width\": 128, \"height\": 128}], \"icon_format\": null, \"icon_height\": 512, \"penny_price\": null, \"award_type\": \"global\", \"static_icon_url\": \"https://www.redditstatic.com/gold/awards/icon/platinum_512.png\"}, {\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 500, \"id\": \"gid_2\", \"penny_donate\": null, \"award_sub_type\": \"GLOBAL\", \"coin_reward\": 100, \"icon_url\": \"https://www.redditstatic.com/gold/awards/icon/gold_512.png\", \"days_of_premium\": 7, \"resized_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_16.png\", \"width\": 16[...]
