{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"refresh_token\"], [\"refresh_token\", \"<REFRESH_TOKEN>\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"account creddits edit flair history identity livemanage modconfig modcontributors modflair modlog modmail modothers modposts modself modtraffic modwiki mysubreddits privatemessages read report save structuredstyles submit subscribe vote wikiedit wikiread\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-04T18:57:41"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/hot?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"funny\", \"selftext\": \"\", \"author_fullname\": \"t2_xnxsak9\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 1, \"clicked\": false, \"title\": \"Grant, not Lee\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/funny\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_hl9st0\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.95, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 19797, \"total_awards_received\": 5, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 19797, \"approved_by\": null, \"author_premium\": true, \"thumbnail\": \"https://b.thumbs.redditmedia.com/06MRS78IoxfsVVK5M6njEBnDyWvSPOZAYaZ9pyIJ1nU.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {\"gid_2\": 1}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1593922228.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": true, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.redd.it/tdc1605zdw851.jpg\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/tdc1605zdw851.jpg?auto=webp\\u0026s=a333b73a04b40fdd4dc93963d4535746f9eea2c3\", \"width\": 640, \"height\": 960}, \"resolutions\": [{\"url\": \"https://preview.redd.it/tdc1605zdw851.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=eed91b82114295621148ae0c2abf8a9beae2f931\", \"width\": 108, \"height\": 162}, {\"url\": \"https://preview.redd.it/tdc1605zdw851.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=eb7821d9044e97cefc69b810369721c8ab090472\", \"width\": 216, \"height\": 324}, {\"url\": \"https://preview.redd.it/tdc1605zdw851.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=0a2d48ebc1b49048f464878e810c835acd6e14a5\", \"width\": 320, \"height\": 480}, {\"url\": \"https://preview.redd.it/tdc1605zdw851.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=6b96526824ab6393a938588ff98500535d3f96e1\", \"width\": 640, \"height\": 960}], \"variants\": {}, \"id\": \"t1TUQ06G_Z-M561pa2ZZjuM7V0ly_CA7PZRKJ0WyNHU\"}], \"enabled\": true}, \"all_awardings\": [{\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 500, \"id\": \"gid_2\", \"penny_donate\": null, \"award_sub_type\": \"GLOBAL\", \"coin_reward\": 100, \"icon_url\": \"https://www.redditstatic.com/gold/awards/icon/gold_512.png\", \"days_of_premium\": 7, \"resized_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_16.png\", \"width\": 16, \"height\": 16}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_32.png\", \"width\": 32, \"height\": 32}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_48.png\", \"width\": 48, \"height\": 48}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_64.png\", \"width\": 64, \"height\": 64}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_128.png\", \"width\": 128, \"height\": 128}], \"icon_width\": 512, \"static_icon_width\": 512, \"start_date\": null, \"is_enabled\": true, \"description\": \"Gives the author a week of Reddit Premium, %{coin_symbol}100 Coins to do with as they please, and shows a Gold Award.\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 1, \"static_icon_height\": 512, \"name\": \"Gold\", \"resized_static_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_16.png\", \"width\": 16, \"height\": 16}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_32.png\", \"width\": 32, \"height\": 32}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_48.png\", \"width\": 48, \"height\": 48}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_64.png\", \"width\": 64, \"height\": 64}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/gold_128.png\", \"width\": 128, \"height\": 128}], \"icon_format\": null, \"icon_height\": 512, \"penny_price\": null, \"award_type\": \"global\", \"static_icon_url\": \"https://www.redditstatic.com/gold/awards/icon/gold_512.png\"}, {\"giver_coin_reward\": 0, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 150, \"id\": \"award_94b2b3dd-a183-45c5-b6a5-675abdaf2b63\", \"penny_donate\": 0, \"award_sub_type\": \"GLOBAL\", \"coin_reward\": 0, \"icon_url\": \"https://www.redditstatic.com/gold/awards/icon/StarsNStripes_512.png\", \"days_of_premium\": 0, \"resized_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards[...]
