{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "000000000076qhbqbb.2.1594077245108.Z0FBQUFBQmZBN0E5Yy01bUd5Z3RJQ2RkWlhtWm9tTHBIMWtfNzcwSUMxM2s1V0FTWmdabUt3aEUwTlpYRFBfVzR1am1YZXBCTGtUMjNybnFrOHAyNC1tSEhsQl81czV4dGRsbzMtQmUwYk5rWmNJT3Jyd1NTcmVPX05lcUlmbW5Tbm5HRkpGTFNURjM"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-06T18:14:07"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/hot?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"MapPorn\", \"selftext\": \"\", \"author_fullname\": \"t2_6an3brzz\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Map of Japan made from 5 to 500+ edges\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/MapPorn\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_hmdoy8\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.98, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 5302, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 5302, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/abZ1lYmuDdLDn1Dpi2bgcU_rgkmL4YyUbYhd-kOuiJg.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1594090542.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": true, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.redd.it/dt82h1nd7a951.jpg\", \"view_count\": null, \"archived\": false, \"no_follow\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?auto=webp\\u0026s=22071332f57cdcfcbcb8b8dab62886b59a8d16a4\", \"width\": 3841, \"height\": 5250}, \"resolutions\": [{\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=fd790b1abb5e6232557acabefa7bdadf5303371f\", \"width\": 108, \"height\": 147}, {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=98fccaab20071b6cc257e4f7b18e81bc560213f1\", \"width\": 216, \"height\": 295}, {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=ddc3dff44200f9c914b376268ec2ba170bb2b140\", \"width\": 320, \"height\": 437}, {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=7a3ee32b3c55b2b8d612d88006b084c174ebc989\", \"width\": 640, \"height\": 874}, {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=b4466ac7e0faa7da8b94137fab0088d5458b64e4\", \"width\": 960, \"height\": 1312}, {\"url\": \"https://preview.redd.it/dt82h1nd7a951.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=69f103cad79f1163ed7936d72ffc92d6e076e0b5\", \"width\": 1080, \"height\": 1476}], \"variants\": {}, \"id\": \"c5-dqkWmov0DS7syl_aSK5AaX7P4hr2iS5SbJPCaQqo\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2si92\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"hmdoy8\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"munuzus\", \"discussion_type\": null, \"num_comments\": 136, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/MapPorn/comments/hmdoy8/map_of_japan_made_from_5_to_500_edges/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/dt82h1nd7a951.jpg\", \"subreddit_subscribers\": 1007160, \"created_utc\": 1594061742.0, \"num_crossposts\": 3, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"DesignPorn\", \"selftext\": \"\", \"author_fullname\": \"t2_e3nwy\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"This Condom Ad\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/DesignPorn\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 139, \"top_awarded_type\": null, \"hide_score\": false, \"n[...]
