{
  "version": 1,
  "http_interactions": [
    {
      "request": {
        "headers": {
          "AUTHORIZATION": [
            "Basic <BASIC_AUTH>"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token",
        "body": {
          "string": "[[\"grant_type\", \"client_credentials\"]]"
        }
      },
      "response": {
        "body": {
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}",
          "encoding": "utf-8"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-reddit-loid": "000000000076qgz4tx.2.1594077247170.Z0FBQUFBQmZBN0FfbjBuRUxYelBrUU8zM0I1blRkcTE3Y0ZFdUJPZEN3UTBJelEzUzM3dzVNR1RtNDRsNkpvR3JvdU1pVmVYVVljNGplcEJ1eVlYaE83YjhMbFpma0p6VTB1QlNWRENwdjdkdTRKSXBzanRaTkdVQ1l4VmwtMUVVUnNVdFZDdUNJU3I"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      },
      "recorded_at": "2020-07-06T18:14:09"
    },
    {
      "request": {
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/kjoneslol/m/sfwpornnetwork/new?limit=100&raw_json=1",
        "body": {
          "string": "null"
        }
      },
      "response": {
        "body": {
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"EarthPorn\", \"selftext\": \"\", \"author_fullname\": \"t2_58grum6o\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Yosemite National Park, California [OC] [5312 x 2498]\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/EarthPorn\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 65, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_hmfcwn\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": false, \"score\": 1, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://a.thumbs.redditmedia.com/8cuCbmnEMOcxysqNN5VwwB04t6fXTVUPXVL4quFOwh8.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"post_hint\": \"image\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1594094686.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"i.redd.it\", \"allow_live_comments\": false, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"url_overridden_by_dest\": \"https://i.redd.it/ejjexgcjma951.jpg\", \"view_count\": null, \"archived\": false, \"no_follow\": true, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?auto=webp\\u0026s=966708b9bd1eb1a91351ef7297be6255f1e9a791\", \"width\": 5312, \"height\": 2498}, \"resolutions\": [{\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=f383a66df537f258e168a77c6ebc05d542655d4f\", \"width\": 108, \"height\": 50}, {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=8e010c21898239d5119956e0dbe5c20e1caf9f31\", \"width\": 216, \"height\": 101}, {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=c42c5f260b55186608207b1472c5bab9e5cfa383\", \"width\": 320, \"height\": 150}, {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=e474d231dcc29c67a6b4dbe4d6c2dd5e0d26e76d\", \"width\": 640, \"height\": 300}, {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=62d7ba57ba6e36aeedf3730ce368cae220575da5\", \"width\": 960, \"height\": 451}, {\"url\": \"https://preview.redd.it/ejjexgcjma951.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=93b13b05b425fc887df9045bf07fbb1d228c7798\", \"width\": 1080, \"height\": 507}], \"variants\": {}, \"id\": \"hKIrq6uWFdsSFN8s6b-MdO03mIbMuTYGE7IcJxd_D6A\"}], \"enabled\": true}, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2sbq3\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"\", \"id\": \"hmfcwn\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"BioSmash27\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"whitelist_status\": \"all_ads\", \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/EarthPorn/comments/hmfcwn/yosemite_national_park_california_oc_5312_x_2498/\", \"parent_whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://i.redd.it/ejjexgcjma951.jpg\", \"subreddit_subscribers\": 20101905, \"created_utc\": 1594065886.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"EarthPorn\", \"selftext\": \"\", \"author_fullname\": \"t2_58grum6o\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Wrights Lake, California [OC] [5162x2904]\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/EarthPorn\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 78, \"top_awarded_type\": null,[...]
