[flake8]
exclude = .eggs,build,docs,.venv*
ignore = E203 E501 W503 W504
per-file-ignores =
    asyncpraw/models/__init__.py:F401
    asyncpraw/models/listing/mixins/__init__.py:F401
    asyncpraw/models/reddit/mixins/__init__.py:F401